<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../fragmente/head.ejs") %>
    <meta name="keywords" content="Orizont, ORZNT, ahitectura, despre noi, despre echipa, echipa Orznt, Team">
    <meta name="description" content="Homepage-ul biroului de arhitectura ORZNT">
    <link rel="stylesheet" type="text/css" href="/Resurse/scss/aboutus/aboutuslayout.css">
    <link rel="stylesheet" type="text/css" href="/Resurse/scss/aboutus/video.css">
    <link rel="stylesheet" type="text/css" href="/Resurse/scss/subtitrari/subtitrari.css">
    <link rel="stylesheet" type="text/css" href="/Resurse/scss/linkuri/linkuri.css">
    <title>About Us</title>
    
</head>
    <%- include("../fragmente/header.ejs") %>
<body>
    
    <div class="aboutus_grid">
        <div class="a1">
            <h1>Despre echipa noastră</h1>
            <video poster="/Resurse/Video/Architecture_school/architecture_school_thumbnail.png"  controls="controls" preload="metadata">
            <source src="/Resurse/Video/Architecture_school/ArchitectureSchool.mp4">
            <source src="/Resurse/Video/Architecture_school/ArchitectureSchool.avi">    
            <track  kind="subtitles" src="/Resurse/Video/Architecture_school/subtitrari_ro.vtt" srclang="ro" label="Română" default>
            <track kind="subtitles" src="/Resurse/Video/Architecture_school/subtitrari_en.vtt" srclang="en" label="Engleză" >
        </video>
        </div>
        <div class="a2">
            Echipa noastra a fost înființată in 2024 de către un grup de prieteni și arhitecți, după ce au terminat facultatea. etium u
            rna. In vitae magna elit. Phasellus eu lobortis diam, fermentum 
            fringilla lacus. Nulla ac sagittis urna, in semper leo. Pellent
            esque rutrum, dui eget molestie imperdiet, magna magna egestas
             neque, quis tempus elit dui a leo. Donec semper placerat ferm
             entum. Sed a lectus nisi.

            Vestibulum eleifend bibendum massa, at ultric
            ies nunc sodales nec. Suspendisse sit amet p
            urus ac felis egestas cursus. Nam euismod vestib
            ulum mauris. Vivamus feugiat nisl eu vulputate tincidun
            t. Mauris pulvinar leo mauris, non ornare turpis hendrerit vi
            tae. Curabitur enim quam, lobortis nec augue quis, sodales fermentum
             dolor. In hac habitass
             rna. In vitae magna elit. Phasellus eu lobortis diam, fermentum 
            fringilla lacus. Nulla ac sagittis urna, in semper leo. Pellent
            esque rutrum, dui eget molestie imperdiet, magna magna egestas
             neque, quis tempus elit dui a leo. Donec semper placerat ferm
             entum. Sed a lectus nisi.

            Vestibulum eleifend bibendum massa, at ultric
            ies nunc sodales nec. Suspendisse sit amet p
            urus ac felis egestas cursus. Nam euismod vestib
            ulum mauris. Vivamus feugiat nisl eu vulputate tincidun
            t. Mauris pulvinar leo mauris, non ornare turpis hendrerit vi
            tae. Curabitur enim quam, lobortis nec augue quis, sodales fermentum
             dolor. In hac habitass

             na. In vitae magna elit. Phasellus eu lobortis diam, fermentum 
            fringilla lacus. Nulla ac sagittis urna, in semper leo. Pellent
            esque rutrum, dui eget molestie imperdiet, magna magna egestas
             neque, quis tempus elit dui a leo. Donec semper placerat ferm
             entum. Sed a lectus nisi.

            Vestibulum eleifend bibendum massa, at ultric
            ies nunc sodales nec. Suspendisse sit amet p
            urus ac felis egestas cursus. Nam euismod vestib
            ulum mauris. Vivamus feugiat nisl eu vulputate tincidun
            t. Mauris pulvinar leo mauris, non ornare turpis hendrerit vi
            tae. Curabitur enim quam, lobortis nec augue quis, sodales fermentum
             dolor. In hac habitass
             rna. In vitae magna elit. Phasellus eu lobortis diam, fermentum 
            fringilla lacus. Nulla ac sagittis urna, in semper leo. Pellent
            esque rutrum, dui eget molestie imperdiet, magna magna egestas
             neque, quis tempus elit dui a leo. Donec semper placerat ferm
             entum. Sed a lectus nisi.

            Vestibulum eleifend bibendum massa, at ultric
            ies nunc sodales nec. Suspendisse sit amet p
            urus ac felis egestas cursus. Nam euismod vestib
            ulum mauris. Vivamus feugiat nisl eu vulputate tincidun
            t. Mauris pulvinar leo mauris, non ornare turpis hendrerit vi
            tae. Curabitur enim quam, lobortis nec augue quis, sodales fermentum
             dolor. In hac habitass
             na. In vitae magna elit. Phasellus eu lobortis diam, fermentum 
            fringilla lacus. Nulla ac sagittis urna, in semper leo. Pellent
            esque rutrum, dui eget molestie imperdiet, magna magna egestas
             neque, quis tempus elit dui a leo. Donec semper placerat ferm
             entum. Sed a lectus nisi.

            Vestibulum eleifend bibendum massa, at ultric
            ies nunc sodales nec. Suspendisse sit amet p
            urus ac felis egestas cursus. Nam euismod vestib


        </div>

        <div class="a3">
            <pre> Mai multe poze cu noi puteti găsi la :<a href="https://www.instagram.com/orznt/">orznt/</a>
                                       <a href="https://www.instagram.com/andreidelete/">andreidelete</a></pre> 
            
            
            

        </div>






    </div>

</body>
</html>