
<!DOCTYPE html>
<!-- 1,2 -->
<html lang="en">
    <head>
       

        <%- include("../fragmente/head.ejs") %>
        <meta name="keywords" content="Orizont, ORZNT, ahitectura, birou de arhitectura, Orizont, design, construcții">
        <meta name="description" content="Homepage-ul biroului de arhitectura ORZNT">
        <title>ORZNT</title>
        
    </head>
        <%- include("../fragmente/header.ejs") %>
        <p>Ip:<%- locals.ip %></p>
    <main>
        <body>
            <div class="grid-layout">
                <div class="z1">
                    <div class="text">ORZNT</div>
                    <div class="line">
                    </div>
                    <div class="line2">   
                    </div>
               </div>
               <div class="z2">
                <button type="button" class="btn btn-primary btn-lg">Stil-1-mare</button>
                <div class="table-container">
                    <table>
                        <caption>Programul de lucru</caption>
                        <thead>
                            <tr>
                                <th>Ziua</th>
                                <th>Ora deschidere</th>
                                <th>Ora închidere</th>
                                <th colspan="2">Observații</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Luni</td>
                                <td>08:00</td>
                                <td>21:00</td>
                                <td colspan="2">-</td>
                            </tr>
                            <tr>
                                <td>Marti</td>
                                <td>08:00</td>
                                <td>20:00</td>
                                <td colspan="2">-</td>
                            </tr>
                            <tr class>
                                <td>Miercuri</td>
                                <td>08:00</td>
                                <td>20:00</td>
                                <td rowspan="2">Închis între 12:00 și 13:00</td>
                            </tr>
                            <tr class>
                                <td>Joi</td>
                                <td>08:00</td>
                                <td>20:00</td>
                            </tr>
                            <tr>
                                <td>Vineri</td>
                                <td>08:00</td>
                                <td>17:00</td>
                                <td colspan="2">-</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">Programul poate varia în funcție de sărbători</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                </div>
               <div class="z3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in elit
                non dolor egestas convallis. Mauris efficitur euismod mi, vel rhoncus mauris blandit et.
                Praesent sollicitudin quam arcu, non tempor tortor posuere ac. Donec bibendum quis
                diam in ultricies. Aenean lectus ante, elementum sit amet risus eu, varius malesuada orci.
                Vivamus nec lobortis sapien. Vestibulum egestas enim non accumsan feugiat. Pellentesque rhoncus dignissim arcu,
                eu laoreet diam sagittis in. Maecenas pretium ligula id tellus faucibus convallis. Nam nulla neque, vestibulum at
                auctor at, consequat in turpis. Nunc vel libero ultricies,
                mollis nisi a, dapibus quam. Aliquam arcu magna, consequat eget elementum id, blandit quis neque.
                </div>
               <div class="z4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in elit
                non dolor egestas convallis. Mauris efficitur euismod mi, vel rhoncus mauris blandit et.
                Praesent sollicitudin quam arcu, non tempor tortor posuere ac. Donec bibendum quis
                diam in ultricies. Aenean lectus ante, elementum sit amet risus eu, varius malesuada orci.
                Vivamus nec lobortis sapien. Vestibulum egestas enim non accumsan feugiat. Pellentesque rhoncus dignissim arcu,
                eu laoreet diam sagittis in. Maecenas pretium ligula id tellus faucibus convallis. Nam nulla neque, vestibulum at
                auctor at, consequat in turpis. Nunc vel libero ultricies,
                mollis nisi a, dapibus quam. Aliquam arcu magna, consequat eget elementum id, blandit quis neque.
                </div>
               <div class="z5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in elit
                non dolor egestas convallis. Mauris efficitur euismod mi, vel rhoncus mauris blandit et.
                Praesent sollicitudin quam arcu, non tempor tortor posuere ac. Donec bibendum quis
                diam in ultricies. Aenean lectus ante, elementum sit amet risus eu, varius malesuada orci.
                Vivamus nec lobortis sapien. Vestibulum egestas enim non accumsan feugiat. Pellentesque rhoncus dignissim arcu,
                eu laoreet diam sagittis in. Maecenas pretium ligula id tellus faucibus convallis. Nam nulla neque, vestibulum at
                auctor at, consequat in turpis. Nunc vel libero ultricies,
                mollis nisi a, dapibus quam. Aliquam arcu magna, consequat eget elementum id, blandit quis neque.
                </div>
               <div class="z6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in elit
                non dolor egestas convallis. Mauris efficitur euismod mi, vel rhoncus mauris blandit et.
                Praesent sollicitudin quam arcu, non tempor tortor posuere ac. Donec bibendum quis
                diam in ultricies. Aenean lectus ante, elementum sit amet risus eu, varius malesuada orci.
                Vivamus nec lobortis sapien. Vestibulum egestas enim non accumsan feugiat. Pellentesque rhoncus dignissim arcu,
                eu laoreet diam sagittis in. Maecenas pretium ligula id tellus faucibus convallis. Nam nulla neque, vestibulum at
                auctor at, consequat in turpis. Nunc vel libero ultricies,
                mollis nisi a, dapibus quam. Aliquam arcu magna, consequat eget elementum id, blandit quis neque.
               </div>
               <div class="z7">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in elit
                non dolor egestas convallis. Mauris efficitur euismod mi, vel rhoncus mauris blandit et.
                Praesent sollicitudin quam arcu, non tempor tortor posuere ac. Donec bibendum quis
                diam in ultricies. Aenean lectus ante, elementum sit amet risus eu, varius malesuada orci.
                Vivamus nec lobortis sapien. Vestibulum egestas enim non accumsan feugiat. Pellentesque rhoncus dignissim arcu,
                eu laoreet diam sagittis in. Maecenas pretium ligula id tellus faucibus convallis. Nam nulla neque, vestibulum at
                auctor at, consequat in turpis. Nunc vel libero ultricies,
                mollis nisi a, dapibus quam. Aliquam arcu magna, consequat eget elementum id, blandit quis neque.
               </div>
               <div class="z8">
                    <div class="container-iframe">
                        <iframe class="iframe" name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/8K1kiMDuI8k?si=foRM0-_K1Qp9Vn5z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <div class="taburi-iframe">
                            <a href="https://www.youtube.com/embed/w3ZHLbLAItw?si=3rpWJu5T9uJYC9ZW" target="ifr-video">absurd house sizes</a>
                            <a href="https://www.youtube.com/embed/8K1kiMDuI8k?si=foRM0-_K1Qp9Vn5z" target="ifr-video"> no more beautiful houses </a>
                        </div>
                    </div>
                </div>

            </div>
            <div id="myBtn"><a title="Sus!" id="butontext" href="#top">&#129081</a></div>
        </body>
       
        <%- include("../fragmente/footer.ejs") %>
        <p class="print-banner"></p>
    </main>
</html>