.banner{
    display:flex;
    justify-content: center;
    align-items: center; 
    height:100%;
    width:100%;
    box-sizing: border-box;
    background-color: var(--c5);
    border: 2px solid black;
    margin:0;
    padding:0;
    
    
}