<footer>
    <div class="container-footer">
    <address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8841143985082!2d26.097011776661272!3d44.435539301481036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e0!3m2!1sen!2sro!4v1710711425004!5m2!1sen!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </address>
    <div class="container-contact">
    <h1>Contact</h1>
    <a href="tel:+1234567890">Sună-ne!</a>
    <a href="mailto:ORZNT@ORZNT.com">Trimiteți un email <i class="fa-solid fa-envelope fa-beat"></i></a>
    <a href="https://wa.me/12345678901">Scrie-ne pe WhatsApp <i class="fa-brands fa-whatsapp fa-beat"></i></i></a>
    </div>
    </div>
    <small>
        &copy; <time datetime="2024-03-15">15 Martie  2024</time> Toate drepturile rezervate.
    </small>

</footer>

    
