<header>
        
    <div class="banner"><h1>ORZNT</h1></div>




    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="resurse/Poze/hamburger-icon.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">


        <ul class="meniu">
            <li><div class="acasa"><a href="/" ><i class="fa-solid fa-house"></i></a></div>
                <ul>
                    <li><a href="#sectiune1">Secțiune1</a></li>
                    <li><a href="#sectiune2">Secțiune2</a></li>
                </ul>
            </li>
            <li><div><a href="/galerie">Galerie</a></div>
                <ul>
                    <li><a>suboptiune 1</a></li>
                    <li><a>suboptiune 2</a></li>
                </ul>
            </li>
            <li><div><a href="/about">About Us</a></div></li>
            <li><div><a href="pagina3.html">Magazin</a></div></li>
        </ul>
    </nav>
    

    



</header>